
.feature{
    display: grid;
    grid-template-columns: 1fr 1190px 1fr;
    background-image: url(../../images/common/gray_bg_pc.jpg);
    background-position: center top;
    background-size: contain;
    background-repeat: repeat;
    padding: 60px 0 30px;
}
.feature1-content{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}
.feature2-content{
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
}
.feature3-content{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}
.feature-top-img{
    width: 39vw;
    height: 1130px;
    object-fit: cover;
}
.feature-title{
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 140px;
}
.feature-title h2{
    font-size: 52px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 0.8rem;
    padding: 35px 0 60px;
    display: inline-block;
    position: relative;
    z-index: 10;
}
.feature-title h2 img{
    position: absolute;
    top: 0;
    right: 35%;
    z-index: -1;
}
.feature-title-en{
    margin-top: 50px;
}

/* slick */
#slick{
    grid-column: 1/4;
}
.slick-item{
    margin: 0 50px;
    text-align: center;
    position: relative;
}
.slick-img{
    width: 400px;
}
.slick-text{
    width: 960px;
    height: 650px;
    border-radius: 1000px;
    background-color: #000;
    text-align: center;
}
.slick-text_inner{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}
.slick-text_inner h3{
    font-size: 40px;
}
.slick-text_inner h3 span{
    font-size: 40px;
    background: linear-gradient(transparent 98%, #505050 0%);
    padding-bottom: 10px;
}
.next-arrow {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    line-height: 1;
    position: absolute;
    top: 210px;
	right: 26%;
    width: 46px;
    height: 46px;
    transform: rotate(45deg);
    z-index: 10;
}
.next-arrow::before, .next-arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 6px;
}
.next-arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
}
.next-arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
}
.prev-arrow {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    line-height: 1;
    position: absolute;
    top: 210px;
	left: 26%;
    width: 46px;
    height: 46px;
    transform: rotate(225deg);
    z-index: 10;
}
.prev-arrow::before, .prev-arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 6px;
}
.prev-arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
}
.prev-arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
}
/* .slick-initialized .slick-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */