/*slick*/
.next-arrow {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    line-height: 1;
    position: absolute;
    top: 210px;
	right: 26%;
    width: 46px;
    height: 46px;
    transform: rotate(45deg);
    z-index: 10;
}
.next-arrow::before, .next-arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 6px;
}
.next-arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
}
.next-arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
}
.prev-arrow {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    line-height: 1;
    position: absolute;
    top: 210px;
	left: 26%;
    width: 46px;
    height: 46px;
    transform: rotate(225deg);
    z-index: 10;
}
.prev-arrow::before, .prev-arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 6px;
}
.prev-arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
}
.prev-arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
}
.slick-initialized .slick-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}