
.feature{
    display: grid;
    grid-template-columns: 1fr 1190px 1fr;
    background-image: url(../../images/common/gray_bg_pc.jpg);
    background-position: center top;
    background-size: contain;
    background-repeat: repeat;
    padding: 60px 0 30px;
    position: relative;
}
.feature1-content{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}
.feature2-content{
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
}
.feature3-content{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}
.feature-top-img{
    width: 39vw;
    height: 1130px;
    object-fit: cover;
}
.feature-title{
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 140px;
}
.feature-title h2{
    font-size: 52px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 0.8rem;
    padding: 35px 0 60px;
    display: inline-block;
    position: relative;
    z-index: 10;
}
.feature-title h2 img{
    position: absolute;
    top: 0;
    right: 35%;
    z-index: -1;
}
.feature-title-en{
    margin-top: 50px;
}

/* slick */
.slick{
    grid-column: 1/4;
    margin-top: -680px;
    position: relative;
}
.slick-item{
    margin: 0 50px;
    text-align: center;
    position: relative;
}
.slick-img{
    margin: auto;
    width: 400px;
    margin-bottom: -120px;
}
.slick-text{
    width: 960px;
    height: 650px;
    border-radius: 2000px;
    background-color: #fff;
    padding-top: 160px;
    margin: auto;
}
.slick-text h3{
    font-size: 40px;
    font-family: "Zen Old Mincho", serif;
    margin-bottom: 25px;
    letter-spacing: 0.5rem;
}
.slick-text h3 span{
    font-size: 40px;
    background: linear-gradient(transparent 99%, #505050 0%);
}
.slick-text h3 em{
    color: #EBB000;
    font-style: normal;
}
.slick-text p{
    font-size: 16px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    line-height: 3.12;
}
.next-arrow {
    position: absolute;
    top: 70%;
	right: 15%;
    width: 50px;
    height: 50px;
    z-index: 10;
}
.prev-arrow {
    position: absolute;
    top: 70%;
	left: 15%;
    width: 50px;
    height: 50px;
    z-index: 10;
}
.slick-arrow.slick-hidden{
    display: block !important;
}

/* ドットのスタイル */
.slick-dots {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.slick-dots button{
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.slick-slider .slick-dots li button {
    font-size: 0;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #00000000;
    border: solid 1px #505050;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.slick-slider .slick-dots li.slick-active button {
    background-color: #505050; /* アクティブなドットの背景色を設定 */
}