/* ------------------- */
/*       Header        */
/* ------------------- */

/*----------------------------
    Element Alignment
    エレメントの配置
----------------------------*/

@media (min-width:768px) {
  .header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
  }
  #hero{
    margin-top: 120px;
  }

  .sp-nav {
    display: none;
  }
}
.header-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 120px;
}

.header__left {
  position: absolute;
  top: 22px;
  left: 40px;
  width: clamp(182px, 50%, 245px);
}
.logo__image {
  object-fit: cover;
}
.header__center {
  display: flex;
  margin-right: 30.5px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  margin-right: 100px;
  gap: 24px;
  height: 100%;
  border-left: 0.2px solid #505050;
}

.primary-nav__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-right: 26px;
}
.reservation-btn {
  position: absolute;
  right: 0;
}

/*----------------------------
    Dropdown Styles
    ドロップダウンのスタイル
----------------------------*/
.dropdown {
  height: 100%;
}
.dropdown__content {
  display: flex;
  flex-direction: column;
  display: none;
}

.dropdown {
  padding-top: 22px;
}

/*----------------------------
    Header Responsive Styles
    ヘッダーのレスポンシブスタイル
----------------------------*/

@media (max-width: 1370px) {
  .header__info {
    display: none;
  }
  .header__center {
    margin-right: 90px;
  }
  .header__left {
    top: 13.6px;
    left: 25px;
  }
}

@media (max-width: 920px) {

  .header__left {
    top: 13.6px;
    left: 18px;
  }
  .reservation-btn--sp{
    position: fixed;
    bottom: 40vh;
    right: 0;
  }
}
/*----------------------------
    Element Size
    エレメントのサイズ
----------------------------*/
.header__left {
  width: clamp(182px, 50%, 245px);
}

@media screen and (max-width: 768px) {
  /* Adjust the width for smaller screens */
  .header__left {
    width: clamp(150px, 70%, 200px);
  }
}

@media screen and (min-width: 1200px) {
  /* Adjust the width for larger screens */
  .header__left {
    width: clamp(220px, 40%, 280px);
  }
}

/*---------------------------------------
   Primary Nav Indicator Styles
   プライマリナビゲーションインジケータのスタイル
-----------------------------------------*/

.primary-nav__item--indicator {
  opacity: 0;
}
.active-nav {
  opacity: 1;
}
.primary-nav__item--indicator__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------
   Language Button Styles
   言語ボタンのスタイル
-----------------------------------------*/

.dropdown__btn {
  border: none;
  background-color: transparent;
  position: relative;
}

.dropdown__btn::after{
    content: url(../../images/common/langBtnChevron.svg);
    width: 7.66px;
    height: 3.83px;
    position: absolute;
    top: -2px;
    right: -7px;
}
/*---------------------------------------
   Header Letter Spacing
   ヘッダーの文字間隔
-----------------------------------------*/
.header__info{
letter-spacing: 0.114em;
}

.dropdown__btn{
    letter-spacing:  0.074em;
}

.primary-nav__link{
    letter-spacing:  0.074em;
}
.reservation-btn--sp{
  z-index: 1000;
}

@media (max-width:500px) {
  .reservation-btn--sp{
    position: fixed;
    bottom: 40vh;
    right: 0;
  }

}
.reservation-btn{
  display: block;
}
.reservation-btn--sp{
  display: none;
}
@media (max-width:767px){
  .header__center {
    display: none;
  }
  .reservation-btn--sp{
    display: block;
  }
  .reservation-btn{
    display: none;
  }
}

.tel__number{
  margin-bottom: 9px;
  margin-top: -5px;
}



.header__right-column--one{
  text-align: center;
  transform: translateY(-9px);
}

@media (max-width:500px) {
  .header__left {
    width: 65.18vw;
  }
}

.reservation-btn{
  width: 70px;
}
.reservation-btn--sp{
  width: 70px;
  opacity: 0.8;
}

.reservation-btn--sp:hover{
  opacity: 1;
}

@media (min-width:750px) {
  /* ヘッダーとの重なりを防ぐために */
  /* #hero{
    margin-top: 120px;  

  } */
  body{
    /* margin-top: 120px; */
  }
}

/* spハンバーガーメニュー */
.sp-nav {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0;
  z-index: 9999;
  top: 0;

  flex-direction: column;
  align-items: center;
}

.sp-nav.open {
  display: flex;
  position: fixed;
}

.close-btn__sp {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-image: url(../../images/common/close-menu-btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 20px;
  right: 20px;
  mix-blend-mode: difference;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.sp-nav__upper {
  position: relative;
  width: 100%;
  height: 124px;
}

.sp-nav__upper a {
  position: absolute;
  width: 41vw;
  top: 18px;
  left: 20px;
}

.sp-nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  max-height: 500px;
  z-index: 100;
}

.sp-nav__ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

}

.reservation-btn__menu a img {
  width: 180px;
}

.sp-nav__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}