.meatball{
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-image: url(../../images/common/hamburger-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 20px;
  right: 20px;
  mix-blend-mode: difference;
  z-index: 9000;
  display: none;
  -webkit-filter: grayscale(1) invert(1);
filter: grayscale(1) invert(1);
}

@media(max-width:767px){
  .meatball{
    display: block;
  }
}

.meatball-btn{
  background-color: transparent;
  border: none;
}
.meatball-btn:focus{
  /* background-color: transparent; */
  border: none;
}