/* ------------------- */
/* TYPOGRAPHY          */
/* ------------------- */

/*-----------------------------
    Font Style /フォントのスタイル 
  -----------------------------*/
.font-emily {
  font-family: "emily-austin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-zen-kaku {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.font-zen-old {
  font-family: "Zen Old Mincho", serif;
}

/*----------------------------
    Font weight /フォントの太さ 
----------------------------*/
.regular {
  /* ミディアム */
  font-weight: 400;
}
.medium {
  font-weight: 500;
}

/*----------------------------
    Font Sizes / フォントサイズ
----------------------------*/

@media (min-width: 500px) {
  .fs-pc-8p75{
  }
  .fs-pc-12 {
    font-size: 12px;
  }
  .fs-pc-14 {
    font-size: 14px;
    font-size: clamp(8.75px,0.97vw, 14px);
  }
  .fs-pc-16 {
    font-size: 16px;
    font-size: clamp(10px,1.11vw, 16px);
  }
  .fs-pc-18 {
    /* 1.25vw */
    font-size: 18px;
    font-size: clamp(10px, 1.25vw, 18px);
    font-size: clamp(11.25px, 1.25vw, 18px);
  }
  .fs-pc-18--11p25{
    font-size: clamp(11.25px, 1.25vw, 18px);
  }

  .fs-pc-20 {
    font-size: 20px;
    font-size: clamp(12.5px, 1.39vw, 20px);
  }
  .fs-pc-24 {
    font-size: 24px;
    font-size: clamp(15px, 1.6667vw, 24px);
  }
  .fs-pc-30 {
    font-size: 30px;
    font-size: clamp(18.75px, 2.08vw, 30px);
  }
  .fs-pc-32 {
    font-size: 32px;
    font-size: clamp(20px, 2.22vw, 32px);
  }
  .fs-pc-40 {
    font-size: 40px;
    font-size: clamp(25px, 2.78vw, 40px);
  }
  .fs-pc-50 {
    font-size: 50px;
  }

  .fs-pc-74 {
    font-size: 74px;
  }

  .fs-pc-100 {
    /* font-size: 100px; */
    font-size: clamp(65.2px, 69.44vw, 100px);
  }
}


@media (max-width: 500px) {
  .fs-sp-12 {
    font-size: 12px;
  }
  .fs-sp-14 {
    font-size: 14px;
    font-size: min(14px,3.59vw);
  }
  .fs-sp-16 {
    font-size: 16px;
    font-size: min(16px,4.10vw);
  }
  .fs-sp-18 {
    font-size: 18px;
    font-size: min(4.62vw,18px);
  }
  .fs-sp-20{
    font-size: 20px;
    font-size: min(5.13vw,20px);
  }
  .fs-sp-25{
    font-size: 25px;
    font-size: min(25px,6.41vw);
  }
  .fs-sp-30 {
    /* 7.69vw */
    font-size: 30px;
    font-size: min(30px,7.69vw);
  }
  .fs-sp-40 {

    font-size:40px;
    font-size: min(40px,10.26vw);
  }
  .fs-sp-32{
    font-size: 32px;
  font-size: min(32px,8.21vw);
  font-size: clamp(20,8.21vw,32);
  }
  .fs-sp-36{
    font-size: 36px;
    font-size: min(36px,9.23vw);
  }
  .fs-sp-100{
    font-size: 100px;
    font-size:min(25.64vw,100px)
  }

}
/*------------------------------
    Font Colors / フォントの色"
------------------------------*/

.white {
  color: #ffffff;
}
.black {
  color: #505050;
}

/*----------------------------------
    Line Height /行の高さ
------------------------------------*/

@media (min-width:501px){
  .line-height-pc-65p5{
    line-height: min(4.55vw,65.5px);
  }
  .line-height-pc-68p9{
    line-height: min(4.77vw,68.9px);
  }
  .line-height-pc-39p2{
    line-height: min(2.72vw,39.2px);
  }
  .line-height-pc-40{
    line-height: min(2.78vw,40px);
  }
  .line-height-pc-49p5{
    line-height: min(3.44vw,49.5px);
  }
  .line-height-pc-51p5{
    line-height: min(3.57vw,51.5px);
  }
  .line-height-pc-40p9{
    line-height: min(2.84vw,40.9px);
  }
  .line-height-pc-59{
    line-height: min(4.10vw,59px);
  }
  .line-height-pc-36p5{
    line-height: min(2.53vw,36.5px);
  }
  .line-height-pc-56{
    line-height: min(3.89vw,56px);
  }
  .line-height-pc-27{
    line-height: min(1.88vw,27px);
  }
  .line-height-pc-28p5{
    line-height: min(1.98vw,28.5px);
  }
  .line-height-pc-43p5{
    line-height: min(3.02vw,43.5px);
  }
}
@media (max-width:500px){
  .line-height-sp-42{
    /* line-height: min(2.92vw,42px); */
    line-height: 42px;
  }
  .line-height-sp-68p9{
    line-height: min(17.66vw,68.9px);
  }
  .line-height-sp-49p5{
    line-height: min(12.69vw,49.5px);
  }
  .line-height-sp-55{
    line-height: min(14.10vw,55px);
  }
  .line-height-sp-40{
    line-height: min(10.26vw,40px);
  }
  .line-height-sp-65p5{
    line-height: min(16.79vw,65.5px);
  }
  .line-height-sp-30{
    line-height: min(7.69vw,30px);
  }
  .line-height-sp-36p5{
    line-height: min(9.36vw,36.5px);
  }
  .line-height-sp-140{
    line-height: min(35.90vw,140px);
  }
  .line-height-sp-27{
    line-height: min(6.92vw,27px);
  }
  .line-height-sp-28p5{
    line-height: min(7.31vw,28.5px);
  }
  .line-height-sp-43p5{
    line-height: min(11.15vw,43.5px);
      }
}

/*----------------------------------
    Letter Spacing / 文字間隔
------------------------------------*/
.letter-spacing-02 {
  letter-spacing: 0.2rem;
}
.letter-spacing-154{
  letter-spacing: 0.154em;
}
.letter-spacing-114{
  letter-spacing: 0.114em;
}
.letter-spacing-01 {
  letter-spacing: 0.1rem;
}
.letter-spacing-94{
  letter-spacing: 0.094em;
}
.letter-spacing-74{
  letter-spacing: 0.074em;
}
.letter-spacing-60 {
  letter-spacing: 0.06em;
}
.letter-spacing-40{
  letter-spacing: 0.04em;
}