/* ------------------- */
/* TYPOGRAPHY          */
/* ------------------- */

/*-----------------------------
    Font Style /フォントのスタイル 
  -----------------------------*/
.font-emily {
  font-family: "emily-austin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-zen-kaku {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.font-zen-old {
  font-family: "Zen Old Mincho", serif;
}

/*----------------------------
    Font weight /フォントの太さ 
----------------------------*/
.regular {
  /* ミディアム */
  font-weight: 400;
}
.medium {
  font-weight: 500;
}

/*----------------------------
    Font Sizes / フォントサイズ
----------------------------*/

@media (min-width: 500px) {
  .fs-pc-12 {
    font-size: 12px;
  }
  .fs-pc-14 {
    font-size: 14px;
  }
  .fs-pc-16 {
    font-size: 16px;
  }
  .fs-pc-18 {
    /* 1.25vw */
    font-size: 18px;
    font-size: clamp(10px, 1.25vw, 18px);
  }
  .fs-pc-18--11p25{
    font-size: clamp(11.25px, 1.25vw, 18px);
  }

  .fs-pc-20 {
    font-size: 20px;
    font-size: clamp(12.5px, 1.39vw, 20px);
  }
  .fs-pc-30 {
    font-size: 30px;
  }
  .fs-pc-32 {
    font-size: 32px;
    font-size: clamp(20px, 2.22vw, 32px);
  }
  .fs-pc-40 {
    font-size: 40px;
    font-size: clamp(25px, 2.78vw, 40px);
  }
  .fs-pc-50 {
    font-size: 50px;
  }

  .fs-pc-74 {
    font-size: 74px;
  }

  .fs-pc-100 {
    font-size: 100px;
    font-size: clamp(65.2px, 69.44vw, 100px);
  }
}
@media (max-width: 500px) {
  .fs-sp-12 {
    font-size: 12px;
  }
  .fs-sp-14 {
    font-size: 14px;
  }
  .fs-sp-16 {
    font-size: 16px;
  }
  .fs-sp-18 {
    font-size: 18px;
    font-size: min(18px,4.62vw);
  }
  .fs-sp-20{
    font-size: 20px;
  }
  .fs-sp-25{
    font-size: 25px;
  }
  .fs-sp-30 {
    font-size: 30px;
  }
  .fs-sp-32{
    font-size: 32px;
  font-size: min(32px,8.21vw);
  font-size: clamp(20,8.21vw,32);
  }
  .fs-sp-36{
    font-size: 36px;
  }
  .fs-sp-100{
    font-size: 100px;
  }

}
/*------------------------------
    Font Colors / フォントの色"
------------------------------*/

.white {
  color: #ffffff;
}
.black {
  color: #505050;
}

/*---------------------------------
      letter spacing
----------------------------------*/
.letter-spacing-30 {
  letter-spacing: 0.06em;
}
.letter-spacing-01 {
  letter-spacing: 0.1rem;
}
.letter-spacing-02 {
  letter-spacing: 0.2rem;
}
