/* ------------------- */
/*     Utility         */
/* ------------------- */


/*-----------------------------------------------
  Marks The Current Page In The Primary Nav
  プライマリナビゲーションで現在のページをマークします
------------------------------------------------*/
.active-nav{
    display:block !important;
}

.sp-only{
  display: none;
}
.pc-only{

}
@media (max-width:500px){
  .sp-only{
    display: block;
  }
  .pc-only{
  display: none;
  }
}