/* ------------------- */
/*     Utility         */
/* ------------------- */


/*-----------------------------------------------
  Marks The Current Page In The Primary Nav
  プライマリナビゲーションで現在のページをマークします
------------------------------------------------*/
.active-nav{
    display:block !important;
}

.display-max--500{
  display: none;
}


.sp-only{
  display: none;
}
.pc-only{

}

.tab-and-sp{
  display: none;
}
@media(max-width:920px){
  .tab-and-sp{
    display: block;
  } 
}
@media (max-width:500px){
  .sp-only{
    display: block;
  }
  .pc-only{
  display: none;
  }
  .display-max--500{
    display: block;
  }
}