/* ------------------- */
/*     Utility         */
/* ------------------- */


/*-----------------------------------------------
  Marks The Current Page In The Primary Nav
  プライマリナビゲーションで現在のページをマークします
------------------------------------------------*/
.active-nav{
    display:block !important;
}

/*------------------------------------------------------------
  Sets the display of elements depending on the screen size
  画面サイズに応じて要素の表示を設定します
-------------------------------------------------------------*/
.display-max--500{
  display: none;
}


.sp-only{
  display: none;
}
.pc-only{

}

.tab-and-sp{
  display: none;
}
@media(max-width:920px){
  .tab-and-sp{
    display: block;
  } 
}
@media (max-width:500px){
  .sp-only{
    display: block;
  }
  .pc-only{
  display: none;
  }
  .display-max--500{
    display: block;
  }
}

/*------------------------------------------------------------
  Utility Classes to keep elements in the same margins
  要素を同じマージンに保つためのユーティリティクラス
-------------------------------------------------------------*/

.margin_left-and-right{
  /* margin-inline: clamp(150px,16.67vw,240px); */
  display: grid;
  place-content: center;


}
.coulmn-2{
  /* grid-column: 2; */
}
.margin_left{
  margin-left: clamp(150px,16.67vw,240px);
}
.margin_right{
  margin-left: clamp(150px,16.67vw,240px);
}


.text-align-end{
  text-align: end;
}

.no-wrap {

  text-wrap: nowrap;
  
  /* Standard syntax */
  
  white-space: nowrap;
  
  /* Vendor prefixes for older versions of iOS/Webkit */
  
  -webkit-white-space: nowrap;
  
  }


/*----------------------------------
    Text Adjustments /テキストの調整
------------------------------------*/

/*----------------------------------
    Line Height /行の高さ
------------------------------------*/

@media (min-width:501px){
  .line-height-pc-65p5{
    line-height: min(4.55vw,65.5px);
  }
  .line-height-pc-68p9{
    line-height: min(4.77vw,68.9px);
  }
  .line-height-pc-49p5{
    line-height: min(3.44vw,49.5px);
  }
  .line-height-pc-51p5{
    line-height: min(3.57vw,51.5px);
  }
}
@media (max-width:500px){
  .line-height-sp-42{
    /* line-height: min(2.92vw,42px); */
    line-height: 42px;
  }
  .line-height-sp-68p9{
    line-height: min(17.66vw,68.9px);
  }
  .line-height-sp-49p5{
    line-height: min(12.69vw,49.5px);
  }
  .line-height-sp-55{
    line-height: min(14.10vw,55px);
  }
}


/*----------------------------------
    Letter Spacing / 文字間隔
------------------------------------*/
.letter-spacing-94{
  letter-spacing: 0.094em;
}
.letter-spacing-154{
  letter-spacing: 0.154em;
}

.letter-spacing-74{
  letter-spacing: 0.074em;
}
.letter-spacing-94{
  letter-spacing: 0.094em;
}


@media(max-width:500px){
  .letter-spacing-sp-100{
    letter-spacing: 0.1em;
  }
}
.bg-black{
  background-color:#505050;
}