.transition-img{
    position: fixed;
    inset: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(../../images/top/hero/hero-bkg.jpg);
}
.transition-item{
    position: fixed;
    z-index: 9998;
    inset: 0;
    width: 100vw;
    height: 100vh;
    
}

.transition-item-white{
    position: fixed;
    z-index: 9999;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.load-logo{
    width: 500px;
}
@media(max-width:500px){
    .load-logo{
        width: 60vw;
        
    }
}



[data-splittext]{
    font-kerning: none;
    letter-spacing: normal;
  }
  .letter-spacing-adjust{
    display: inline-block;
    letter-spacing:-0.114em ;
    /* letter-spacing: 0.114em; */
  }
  
  .letter-spacing-adjust-eng{
    display: inline-block;
    letter-spacing:-0.2em ;
  }
  
  .keyvisual__text--eng{
  /* letter-spacing: -0.02em; */
  }
  
  
  @media (max-width:767px){
    /* was 500 */
    .letter-eng11{
      margin-left: -5px;
    }
    .letter-eng13{
      margin-left: -8px;
    }
    .letter-eng20{
      margin-left: -5px;
    }
  
    .letter-eng18{
      margin-left: -8px;
    }
  .letter-eng20{
    margin-left: -8px;
  }
  .letter-eng21{
    margin-left: -8px;
  }
  .letter-spacing-adjust-eng{
    display: inline-block;
    letter-spacing:-0.3em ;
  }
  }