#dinner{
    position: relative;
 
}
.dinner-main{
    min-height: 100vh;
}
.dot {
    position: absolute;
    width:142vmax;
    height:142vmax;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%) scale(1);
    border-radius: 50%;
    background-color:#505050;
  }
.company-dot{
    z-index: -2;
    /* z-index: 5; */
    width:142vmax;
    height:120vmax;
}
.company-main{
    /* background-color:#505050; */

}
@media (min-width:764px){
    .company-dot{
        z-index: -2;
        z-index: -2;
        width:142vmax;
        height:70vmax;
    }
}
@media (min-width:500px){
    .company-dot{
        z-index: -2;
        z-index: -2;
        width:142vmax;
        height:70vmax;
    }
}
.dinner-title-wrapper{}

.dinner-title-wrapper{
    /* border: 1px solid red; */
    transform: translateY(100px);
}
.company-main{
    transform: translateY(100px);
}

.dinner-img--left{
    background-image: url(../../images/top/dinner/dinner-left-img_pc.jpg);
    /* opacity: 1; */
    
}

#dinner-seemore::after{
    content:url(../../images/top/dinner/see-more-black.svg) ;
    position: absolute;
    right: -18px;
}
#dinner-seemore::before{
    content:"";
    position: absolute;
    width: 120%;
    height: 1px;
    background-color: #FFFFFF;
    bottom: 5px;
}


.dinner-bottom{
    /* border: 1px solid red; */
    position: relative;
}

.bottom-left{
    width: clamp(187.5px,20.83vw,300px);
    margin-left: clamp(100px,11.11vw,160px);
}

.bottom-right{
    width: clamp(406.25px,45.14vw,650px);
    position: absolute;
    bottom: -20%;
    right: 0;
}
@media(max-width:780px){
    .bottom-left{
        margin-left:0;
        margin-top: min(61.2px,15.69vw);
    }
    .bottom-right{

        position: absolute;
        bottom: -10%;
        right: 0;
    }
}
@media (min-width:1400px) {
    #dinner{
        padding-top: 300px;
    }
    .dinner-filler{
        height: 600px;
        width: 100%;
        background-color: #505050;
            z-index: -1;
            position: absolute;
            bottom: -15%;
        }
        .bottom-left{
            margin-left:0;
            margin-top: 0;
            
        }
        .bottom-right{
            position: absolute;
            bottom: -25%;
            right: 0;
        }
    
}
  @media (max-width:1400px) {
    #dinner{
        padding-top: 100px;
    }
    .dinner-filler{
        height: 600px;
        width: 100%;
        background-color: #505050;
            z-index: -1;
            position: absolute;
            bottom: -15%;
        }
      .bottom-right{
        width: clamp(406.25px,45.14vw,650px);
        position: absolute;
        bottom: -25%;
        right: 0;
    }
  }
  @media (max-width:1200px) {
    #dinner{
        padding-top: 100px;
    }

      .bottom-right{
        width: clamp(406.25px,45.14vw,650px);
        position: absolute;
        /* bottom: -15%; */
        right: 0;
    }
  }
@media(max-width:500px){
    .bottom-left{
        width: min(150px,38.46vw);
        margin-left:0;
        margin-top: min(61.2px,15.69vw);
    }
    .bottom-right{
        width: min(200px,51.28vw);
        position: absolute;
        bottom: -14%;
        right: 0;
    }

}

/* .dinner-filler{
    height: 600px;
    width: 100%;
    background-color: red;
        z-index: -1;
        position: absolute;
        bottom: -25%;
    } */
#lunch{
    /* border: 1px solid red; */
    padding-bottom: 0;
}
#dinner{
    padding-top: 0px;
}
/* .dinner-top-filler{
    width: 100%;
    height: 100px;
  
} */
.dot{
    margin-top: 60px;
}
@media (min-width:1700px){
    .dot{
        margin-top: 250px;
    }
    .dinner-filler{
        height: 600px;
        width: 100%;
        background-color: #505050;
            z-index: -1;
            position: absolute;
            bottom: -25%;
        }

        .bottom-right{
            position: absolute;
            bottom: -33%;
            right: 0;
        }
}