#dinner {
  position: relative;
}
.dinner-main {
  min-height: 100vh;
}
.dot {
  position: absolute;
  width: 142vmax;
  height: 142vmax;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 50%;
  background-color: #505050;
}
.company-dot {
  z-index: -2;
  /* z-index: 5; */
  width: 142vmax;
  height: 120vmax;
}
@media (min-width: 764px) {
  .company-dot {
    z-index: -2;
    z-index: -2;
    width: 142vmax;
    height: 70vmax;
  }
}
@media (min-width: 500px) {
  .company-dot {
    z-index: -2;
    z-index: -2;
    width: 142vmax;
    height: 70vmax;
  }
}

.dinner-title-wrapper {
  /* transform: translateY(100px); */
}
.company-main {
  /* transform: translateY(100px); */
}

.dinner-img--left {
  background-image: url(../../images/top/dinner/dinner-left-img_pc.jpg);
}

#dinner-seemore::after {
  content: url(../../images/top/dinner/see-more-black.svg);
  position: absolute;
  right: -18px;
}
#dinner-seemore::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 1px;
  background-color: #ffffff;
  bottom: 5px;
}

.dinner-bottom {
  position: relative;
}

.bottom-left {
  width: clamp(187.5px, 20.83vw, 300px);
  /* margin-left: clamp(100px, 11.11vw, 160px); */
}

.bottom-right {
  width: clamp(406.25px, 45.14vw, 650px);
  position: absolute;
  bottom: -20%;
  right: 0;
}
.bottom-right_widescreen {
  display: none;
}
@media (max-width: 780px) {
  .bottom-left {
    margin-left: 0;
    margin-top: min(61.2px, 15.69vw);
  }
  .bottom-right {
    position: absolute;
    bottom: -10%;
    right: 0;
  }
}
@media (min-width: 1400px) {
  #dinner {
    padding-top: 300px;
  }
  .dinner-filler {
    height: 600px;
    width: 100%;
    background-color: #505050;
    z-index: -1;
    position: absolute;
    bottom: -15%;
  }
  .bottom-left {
    margin-left: 0;
    margin-top: 0;
  }
  .bottom-right {
    position: absolute;
    bottom: -15%;
    right: 0;
  }
}
@media (max-width: 1400px) {
  #dinner {
    padding-top: 100px;
  }
  .dinner-filler {
    height: 600px;
    width: 100%;
    background-color: #505050;
    z-index: -1;
    position: absolute;
    bottom: -15%;
  }
  .bottom-right {
    width: clamp(406.25px, 45.14vw, 650px);
    position: absolute;
    bottom: -15%;
    right: 0;
  }
}
@media (max-width: 1200px) {
  #dinner {
    padding-top: 100px;
  }

  .bottom-right {
    width: clamp(406.25px, 45.14vw, 650px);
    position: absolute;
    /* bottom: -15%; */
    right: 0;
  }
}
@media (max-width: 500px) {
  .bottom-left {
    width: min(150px, 38.46vw);
    margin-left: 0;
    margin-top: min(61.2px, 15.69vw);
  }
  .bottom-right {
    width: min(200px, 51.28vw);
    position: absolute;
    bottom: -14%;
    right: 0;
  }
}
@media (max-width: 768px) {
  .bottom-right {
    width: min(200px, 51.28vw);
    position: absolute;
    bottom: 1.5%;

    right: 0;
  }
}
#lunch {
  padding-bottom: 0;
}
#dinner {
  padding-top: 0px;
}
.dot {
  margin-top: 60px;
}
@media (min-width: 1401px) {
  .bottom-left {
    /* margin-left: 11.11vw; */
  }
}
@media (min-width: 1700px) {
  .dot {
    margin-top: 250px;
  }
  .dinner-filler {
    height: 600px;
    width: 100%;
    background-color: #505050;
    z-index: -1;
    position: absolute;
    bottom: -25%;
  }

  .bottom-right {
    position: absolute;
    bottom: -30%;
    right: 0;
  }
}

.dot {
  border-radius: 50% 50% 0 0;
}
@media (max-width: 1699px) {
  .dot {
    width: 100vmax;
    height: 87vmax;
  }
  #dinner {
    padding: 250px;
  }
}
@media (max-width: 1500px) {
  .dot {
    width: 100vmax;
    height: 87vmax;
  }
  #dinner {
    padding: 250px;
  }
}
@media (max-width: 1300px) {
  .dot {
    width: 100vmax;
    height: 87vmax;
  }
  #dinner {
    padding: 250px;
  }
}
@media (max-width: 1000px) {
  .dot {
    width: 100vmax;
    height: 87vmax;
    height: 110vmax;
  }
  #dinner {
    padding: 200px;
  }
}
/* @media(min-width:501px){
  .dot{
    width: 87vmax;
    height: 87vmax;
    
  }
  #dinner{
    padding: 200px;
  }
} */

@media (max-width: 500px) {
  .dot {
    width: 142vmax;
    height: 135vmax;
  }
  #dinner {
    padding: 50px;
  }
}

@media (min-width: 1600px) {
  .bottom-left {
    transform: translateX(50%);
  }
  .bottom-right {
    display: none;
  }

  .bottom-right_widescreen {
    display: block;
    position: absolute;
    bottom: -100%;
  }
}
@media (min-width: 1700px) {
  .company-dot {
    z-index: -2;
    z-index: -2;
    width: 80vmax;
    height: 85vmax;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 89%);
  }
  #dinner {
    padding: 200px;
  }
}
@media (max-width: 400px) {
  .company-dot {
    width: 142vmax;
    height: 140vmax;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 89%);
  }
  #dinner {
    padding: 90px;
  }
}
@media (min-width: 1700px) {
  .bottom-right {
    bottom: -90%;
  }
}

@media (max-width: 1666px) {
  .bottom-right {
    bottom: -5%;
  }
}
@media (max-width: 1100px) {
  .bottom-right {
    bottom: 5%;
  }
}
@media (max-width: 1100px) and (min-width: 1001px) {
  .company-dot {
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 89%);
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0 84%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    width: 70vmax;
    height: 63vmax;
  }
  .dinner-title-wrapper{
    transform: translateY(100px);
  }

}
@media (max-width: 1000px) and (min-width: 900px) {
  .company-dot {
    width: 60vmax;
    height: 60vmax;
  }
}
@media (max-width: 899px) and (min-width: 700px) {
  .company-dot {
    width: 80vmax;
    height: 80vmax;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 89%);  }
}
@media (max-width: 767px) {
  .company-dot {
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 93%);
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 92%);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 89%);
  }
  .bottom-right {
    bottom: 3%;
  }
}

@media (max-width: 500px) {
  #dinner {
    padding: 150px;
  }
  .company-dot {
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 93%);
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 92%);
  }
  .bottom-right {
    bottom: 3%;
  }
}

@media (max-width: 376px) {
  .company-dot {
    width: 142vmax;
    height: 150vmax;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 89%);
  }
}
@media (max-width: 361px) {
  .company-dot {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 88%);


  }
}

@media (max-width: 330px) {
  .company-dot {
    width: 142vmax;
    height: 140vmax;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
  }
}
