/* ------------------- */
/*         HERO        */
/* ------------------- */

/*-----------------------------
    Backgrounds / 背景
-------------------------------*/
#hero {
  min-height: 100vh;
}

@media (max-width: 750px) {
  .hero-background--sp {
    background-image: url(../../images/top/hero/herobkg_sp.jpg);
    background-size: cover;
  }
}

@media (min-width: 750px) {
  #hero {
    background-image: url(../../images/top/hero/hero-bkg.jpg);
    background-size: cover;
  }
}

/*-------------------------------------
    Keyvisual Top / キービジュアル トップ 
--------------------------------------*/

.keyvisual-top {
  display: flex;
  justify-content: center;
  padding-top: clamp(46px, 5.11vw, 73.6px);
  gap: clamp(25px, 2.78vw, 40px);
}

.keyvisual-top__logo {
  width: 33.33vw;
  width: clamp(300px, 33.33vw, 480px);
}

.keyvisual__text {
  width: 44.41vw;
  width: clamp(400px, 44.41vw, 638.15px);
}

/*-------------------------------------------------
    Keyvisual Top Text / キービジュアル トップ テキスト
--------------------------------------------------*/

.keyvisual__text--jp {
  letter-spacing: 0.114em;
  line-height: 59.08px;
}
.keyvisual__text--eng {
  margin-top: clamp(10px, 1.25vw, 18px);
  letter-spacing: 0.02em;
  line-height: 39.24px;
}

/*-------------------------------------------------
    Keyvisual Eyecatcher / キービジュアル アイキャッチャー
--------------------------------------------------*/

.kevvisual-eyecatcher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(18.7px, 2.08vw, 30px);
  margin-top: clamp(32.4px, 3.69vw, 53.3px);
}

.eyecatcher-slideshow {
  width: clamp(750px, 83.33vw, 1200px);
  overflow: hidden;
  position: relative;
  -webkit-mask: linear-gradient(to top, transparent, white 10%, white 100%);
  mask: linear-gradient(to top, transparent, white 3%, white 100%);
}
@media (min-width: 1450px) {
  .eyecatcher-slideshow {
    width: 90vw;
  }
}

.eyecatcher-slideshow_slide {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.eyecatcher-slideshow_slide:first-child {
  position: relative;
}

/*-----------------------------------------------------
    Keyvisual Scroll image / キービジュアルのスクロール画像
--------------------------------------------------*/

.eyecatcher__scrollimg {
  /* border: 1px solid red; */
  width: clamp(15px, 1.67vw, 24px);
}

.eyecatcher_scrollimg--image {
  width: 100%;
  height: 100%;
}
/*-----------------------------------------------------
    Eyecatcher subtitle / アイキャッチャーのサブタイトル
--------------------------------------------------*/

.gault-millau {
  display: flex;
  justify-content: flex-end;
  margin-right: clamp(89.5px, 9.93vw, 143px);
  margin-top: clamp(2.5px, 0.4386vw, 5px);
}
.gault-millau_link {
  --width: 100%;
  position: relative;
  display: flex;
  padding: 0;
  letter-spacing: 0.154em;
  line-height: 33.5px;
  /* border-bottom: 1px solid black; */
}

.gault-millau_link--pc {
  position: relative;
}
.gault-millau_link--pc::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #505050;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.gault-millau_link--sp {
  display: none;
}
.gault-millau_link--sp p {
  border-bottom: 1px solid #505050;
}

@media (max-width: 500px) {
  .gault-millau_link--pc {
    display: none;
  }
  .gault-millau_link--sp {
    display: block;
  }
}
/*-------------------------------------
    Keyvisual Main / キービジュアル メイン
--------------------------------------*/

.keyvisual-main_text {
  display: flex;
  justify-content: center;
  gap: clamp(24px, 2.78vw, 40px);
  margin-top: clamp(56px, 6.18vw, 89px);
}

.keyvisual-main__text__title {
  width: clamp(228px, 25.35vw, 400px);
}

.keyvisual-main__text__description {
  width: clamp(375px, 41.67vw, 600px);
  line-height: clamp(49.5px, 3.44vw, 40px);
  letter-spacing: 0.154em;
}

.kv-main__text__title--eng {
  line-height: clamp(13.81px, 1.53vw, 22px);
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: clamp(7.7px, 0.92vw, 13.3px);
}

.kv-main__text__title--jp {
  line-height: clamp(33.75px, 3.75vw, 54px);
  letter-spacing: 0.154em;
  text-align: center;
  text-wrap: nowrap;
}

/*----------------------------------------------------
    Keyvisual Main Hero/ キービジュアル メイン ヒーロー
-----------------------------------------------------*/

/*--------------------------------------------------------------
    Keyvisual Main Hero widths/ キービジュアル メイン ヒーローの幅
---------------------------------------------------------------*/

.kv-hero__img img {
  object-fit: cover;
}

.kv-hero__img--center {
  width: clamp(447.25px, 49.67vw, 715.61px);
}
.kv-hero__img--top-right {
  width: clamp(186.63px, 20.76vw, 298.61px);
}
.kv-hero__img--right {
  width: clamp(182.65px, 20.31vw, 292.23px);
}
.kv-hero__img--bottom {
  width: clamp(186.63px, 20.76vw, 298.61px);
}
.kv-hero__img--left {
  width: clamp(176.44px, 19.59vw, 282.3px);
}
.kv-hero__img--top-left {
  width: clamp(172.5px, 19.17vw, 275.99px);
}

/*--------------------------------------------------------------
    Keyvisual Main Hero positioning/ キービジュアル メイン ヒーローの配置
---------------------------------------------------------------*/

.keyvisual-main_hero {
  margin-top: clamp(33.3px, 3.74vw, 53.8px);
  position: relative;
  display: grid;
  place-content: center;
  padding-bottom: 110px;
  padding-bottom: min(110px, 7.64vw);
}
.kv-hero__img--secondary {
  position: absolute;
}

.kv-hero__img--primary {
  position: relative;
}

.kv-hero__img--top-right {
  top: 0;
  right: calc((clamp(186.63px, 20.76vw, 298.61px)) - 60%);
}

.kv-hero__img--right {
  top: 50%;
  right: calc(clamp(182.65px, 20.31vw, 292.23px) - 70%);
}
.kv-hero__img--bottom {
  bottom: -60;
  left: 37%;
}
.kv-hero__img--left {
  left: -50%;
  bottom: 50px;
}

.kv-hero__img--top-left {
  top: 20px;
  left: -25%;
}

/* ===============
      MOBILE
   =============== */

/*--------------------------------------------------------------
    Keyvisual Top Mobile/ キービジュアル トップ モバイル
---------------------------------------------------------------*/
@media (max-width: 500px) {
  .keyvisual-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: min(23.5px, 6.03vw);
    gap: 12px;
  }

  .keyvisual-top__logo {
    display: none;
  }

  .keyvisual__text {
    width: 44.41vw;
    width: min(361px, 92.56vw);
  }
  .keyvisual__text--jp {
    width: min(317px, 81.28vw);
    line-height: 1.784em;
  }
  .keyvisual__text--eng {
    width: min(317px, 81.28vw);
    line-height: 0.96em;
  }
}

/*-------------------------------------------------------------------
    Keyvisual Eyecatcher Mobile / キービジュアル アイキャッチャー モバイル
------------------------------------------------------------------*/
@media (max-width: 500px) {
  .kevvisual-eyecatcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1px;
    margin-top: min(20px, 5.13vw);
  }

  .eyecatcher-slideshow {
    width: min(350px, 89.74vw);
    height: min(567.57px, 145.26vw);
  }
  .eyecatcher__scrollimg {
    width: min(24px, 6.15vw);
  }
}

/*---------------------------------------------------------------
    Eyecatcher Subtitle Mobile / アイキャッチャーのサブタイトル モバイル
----------------------------------------------------------------*/
@media (max-width: 500px) {
  .gault-millau {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    margin-right: min(19.6px, 5.03vw);
  }
  .gault-millau_link {
    line-height: 40.17px;
    letter-spacing: 0.154em;
  }
  .keyvisual__text--jp {
    text-wrap: nowrap;
    /* Standard syntax */
    white-space: nowrap;
    /* Vendor prefixes for older versions of iOS/Webkit */
    -webkit-white-space: nowrap;
  }
}
/*---------------------------------------------------------------
    Keyvisual Main Text Mobile / キービジュアル メインテキスト モバイル
----------------------------------------------------------------*/

@media (max-width: 500px) {
  .keyvisual-main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(7.77vw,30.3px);
    margin-top: clamp(56px, 6.18vw, 89px);
 
  }
  .keyvisual-main__text__title {
    width: min(93.33vw,364px);
  }
  
  .keyvisual-main__text__description {
    width: min(330px, 84.62vw);
    line-height: min(46px,11.79vw);
    letter-spacing: 0.154em;
  }
  
  .kv-main__text__title--eng {
    line-height: min(22px,5.64vw);
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: min(13.3px, 3.41vw);
  }
  
  .kv-main__text__title--jp {
    line-height:min(54px,13.85vw);
    letter-spacing: 0.154em;
    text-align: center;
    text-wrap: nowrap;
    white-space: nowrap;
    -webkit-white-space: nowrap;
  }
}