
#hero{
    min-height: 100vh;
    }
    


@media (max-width:750px){
    .hero-background--sp{
        background-image: url(../../images/top/hero/herobkg_sp.jpg);
        background-size: cover;
      
      }
}

@media (min-width:750px){
    #hero{
      background-image: url(../../images/top/hero/hero-bkg.jpg);
      background-size: cover;
  }
  }
