/* ------------------- */
/*       LUNCH       */
/* ------------------- */

#lunch {
  padding-bottom: min(4.51vw, 65px);
  position: relative;
  padding-bottom: 100px !important;
}

/*-----------------------------
    Lunch Title /ランチのタイトル
-------------------------------*/

.lunch-dinner-common {
  display: grid;
  place-content: center;
}

.lunch-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: clamp(63px, 6.9444vw, 100px);
  padding-top: 150px;
  padding-bottom: clamp(29px, 3.14vw, 45.2px);
}
/*-----------------------------
    Lunch gallary /ランチ ギャラリー
-------------------------------*/

.image-grid {
  display: flex;
  gap: 1.39vw;
}

.common-img--left {
  width: 43.75vw;
  background-size: cover;
}
.lunch-img--left {
  background-image: url(../../images/top/lunch/lunch-image-left.jpg);
}
.common-img--right {
  max-width: 40.97vw;
  width: 100%;
}
.img-gallary-right {
  max-width: 40.97vw;
  width: 590px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.39vw;
}
.lunch-left {
  opacity: 0;
}

/*----------------------------------
    Lunch Paragraph /ランチ パラグラフ
------------------------------------*/

.lunch-dinner-paragraph-wrapper {
  padding-top: clamp(29.4px, 3.28vw, 47.2px);
  display: flex;
  justify-content: center;
}

/*----------------------------------
    Text Adjustments /テキストの調整
------------------------------------*/
.lunch-dinner-common_paragraph {
  text-align: center;
}

/*----------------------------------
   SEE MORE btn
------------------------------------*/

.lunch-dinner-see-more-btn-wrapper_common {
  display: flex;
  justify-content: center;
}

.lunch-dinner-common-seemore {
  line-height: clamp(40.94px, 4.55vw, 65.5px);
  letter-spacing: 0.154em;
  position: relative;
  margin-right: 30px;
}
.lunch-dinner-common-seemore::after {
  content: url(../../images/top/feature/see-more-icon-feat.svg);
  position: absolute;
  right: -18px;
}
.lunch-dinner-common-seemore::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 1px;
  background-color: #505050;
  bottom: 5px;

  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
.lunch-dinner-common-seemore:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}
.lunch-texture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-image: url("../../images/top/lunch/paper_texture.png");
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: -1;
}

/* ===============
      MOBILE
   =============== */

@media (max-width: 767px) {
  /* was 500 */
  #lunch {
    padding-bottom: min(18.08vw, 70.5px);
  }
  .lunch-dinner-common {
    display: grid;
    place-content: center;
  }
  .lunch-img-grid-clip {
    overflow-x: clip;
  }
  .lunch-dinner-common-seemore {
    padding-top: 48.5px;
    padding-top: min(12.44vw, 48.5px);
  }
  .lunch-dinner-common-seemore::before {
    bottom: -5px;
  }
  .img-gallary-right {
    width: 166.53px;
    width: max(166.53px, 42.69vw);
    display: flex;
    flex-direction: column;
    gap: 1.44vw;
  }
  .lunch-img--left {
    width: 45.62vw;
    background-image: url(../../images/top/lunch/lunch-image-left.jpg);
    background-size: cover;
  }
  .common-img--left {
    width: 45.62vw;
    background-size: cover;
  }
  .lunch-img--r {
    opacity: 0;
  }
  .lunch-img--right-d {
    min-width: 45.62vw;
    background-image: url(../../images/top/lunch/lunch-image-right_bottom.jpg);
    background-size: cover;
  }
  .lunch-img--right-top {
    min-width: 45.62vw;
    background-image: url(../../images/top/lunch/lunch-image-right_top.jpg);
    background-size: cover;
  }
}
