#message {
  min-height: 100vh;
  position: relative;
}

.message-title-wrapper {
  margin-left: clamp(117px, 10.63vw, 153px);
  margin-right: clamp(117px, 10.63vw, 153px);
  margin-top: clamp(71px, 7.82vw, 112.7px);
  position: relative;
}

.message-title--eng {
  display: flex;
  justify-content: center;
}
.message-subtitle {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}
@media(min-width:1400px){
  .message-subtitle {
    display: flex;
    justify-content: center;
    margin-top: -15px;
  }
}
@media(max-width:1000px){
  .message-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
}

.message-title--intro {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: clamp(27px, 3.02vw, 43.5px);
}
.message-title--img {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: -1;
  min-width: 1039px;
}
.message-main-text {
  margin-top: clamp(36.2px, 3.96vw, 57px);
}

.msg-filler {
  position: relative;
  height: 450px;
  height: clamp(450px, 41.6667vw, 600px);
}
@media (min-width: 1700px) {
  .msg-filler {
    position: relative;
    height: 800px;
  }
}
@media (min-width: 501px) {
  .message-grid-wrap {
    display: grid;
    place-content: center;
  }
}
.message-imgs {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.msg-img-wrapper {
  width: clamp(187.5px, 20.83vw, 300px);
}
.msg-img {
  width: 100%;
}

.msg-img--top {
  width: clamp(187.5px, 20.83vw, 300px);
  position: absolute;
  top: 50%;
}
.message-bottom-text {
  margin-left: min(411px, 28.54vw);
}
.message-job-title {
  margin-bottom: -10px;
}

.message-bottom-name--eng {
  margin-top: -5px;
  margin-bottom: 20px;
}
@media (max-width:800px){
  .message-job-title {
    margin-bottom: -5px;
  }

  .message-bottom-name--eng {
    margin-top: 0px;
  }
}
/* ===============
      MOBILE
   =============== */
@media (max-width: 825px) {
  .message-title-wrapper {
    margin-top: 250px;
  }
}

@media (max-width:  767px) {
  /* was 500 */
  .message-title-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: 160px;
    padding-left: min(30.9px, 7.92vw);
    padding-right: min(7.1px, 1.82vw);
    position: relative;
  }
  .message-title--eng {
    display: flex;
    justify-content: flex-start;
  }
  .message-subtitle {
    display: flex;
    justify-content: flex-start;
    margin-top: -20px;
  }
  .message-title--intro {
    /* nochanges */
  }
  .message-title--img {
    position: absolute;
    top: 0;
    left: -5%;
    transform: translateY(-5%);
    z-index: -1;
    min-width: 428.79px;
  }
  .message-main-text {
    margin-left: 0;
    margin-top: clamp(36.2px, 3.96vw, 57px);
  }
  .message-bottom-wrapper {
    margin-inline: 0;
    padding-inline: min(20px, 5.13vw);
  }
  .msg-img {
    width: min(150px, 38.46vw);
  }
  .headchef-sp {
    width: min(150px, 38.46vw);
  }
  .msg-img--top {
    width: 100%;
    position: relative;
    margin-top: -50px;
  }
  .flower {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .message-bottom-text {
    margin-left: 0;
  }
  .message-job-title {
    margin-bottom: -25px;
  }

  .message-bottom-name--eng {
    margin-top: -25px;
    margin-bottom: 20px;
  }
  .message-bottom-text {
    margin-top: 28px;
  }
  .msg-filler {
    position: relative;
    height: 300px;
  }
}

.message-grid-wrap {
  position: relative;
}
.message-title-wrapper {
  margin-top: 0;
}
@media(min-width:1000px){
  .msg-filler {
    position: relative;
   height: 50px;
  }
}

@media(min-width:1050px){
  .msg-filler {
    position: relative;
   height: 250px;
  }
}
@media(max-width:500px){
  .msg-filler {
    position: relative;
   height: 50px;
  }
}